<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editorial</title>
</head>
<body>

<header>
    <div class="container">
        <h2>Load Editorial</h2>
    </div>
</header>

<div class="container">

    <form action="/editorial/record" method="POST">
        <div class="form-group">
            <input type="text" class="form-group" name="name" placeholder="Editorial Name">
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

</div>

</body>
</html>